.section__padding
{
    padding: 0.2rem 2rem 0 2rem;
}

.footer
{
    background-color: rgb(40, 40, 40); 
    color: white;
    font-size: 14px;
}

.f_footer
{
    display: flex;
    flex-direction: column;
}

.f_footer-links
{
    display: flex;
    justify-content: space-between ;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap ;
    width: 100%;
    text-align: left;
}

.f_footer_links_div
{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.f_footer_links_div h5
{
    line-height: 15px;
    margin-bottom: 0.9rem;
}

.f_footer_links_div p
{
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 0.5rem 0;
    cursor: pointer;
}

/* @media screen and (max-width: 850px) {
    .f_
} */