
.hero{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: absolute;
}

.login-container{
    height: 100%;
    width: 100%;
}

.form-box{
    width: 380px;
    height: 480px;
    position: center;
    margin: 0% auto;
    background: #fff;
    padding: 5px;
}
.button-box{
    width:220px;
    /* height: 20px; */
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px black;
    border-radius: 30px;
}
