*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 120px; */
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
}
.nav-top{
    margin: 0;
    width: 100%;
    /* position: fixed; */
    height: 100px;
    padding: 0px;
    background-color: green;
    display: flex;
    align-items: center;
}
.nav-bottom{
    background-color: rgb(255, 166, 0);
    height: 45px;
    width: 100%;
}

.logo{
    width: 10%;
    padding-left: 20px;
}
.saya{
    font-weight: 900;
    font-size: 35px;
}
.sayatitle{
    padding-left: 3%;
    color: #fdff00;
    text-align: center;
    width: 68%;
}
.slogan{
    font-size: 14px;
    font-weight: 200;
}
.cart{
    width: 5%;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 7px;
    color: white;
}
.login{
    width: 17%;
    padding-top: 20px;
    /* padding-right: 35px; */
}
.log{
    font-size: 18px;
    font-weight: 500;
}
@media screen and (max-width: 850px){
    .logo{
        width: 10%;
    }
    .sayatitle{
        width: 90%;
    } 
    .cart, .login{
        display: none;
    }
}
@media screen and (max-width: 510px){
    .logo{
        display: none;
    }
    .sayatitle{
        width: 100%;
    } 
    .cart, .login{
        display: none;
    }
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.home, .about, .products, .branch, .gallery, .developers, .cart-bottom, .login-bottom{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
.cart-bottom, .login-bottom{
    display: none;
}
.mobile-menu-icon{
    display: none;
    width: 45px;
    height: 30px;
    border-color: green;
    border-radius: 3px;
}

@media screen and (max-width: 910px) {
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: rgb(255, 166, 0);
        left: 0;
        top: 100px;
        width: 100%;
        transition: all 0.5s ease-out;
    }
    .home, .about, .products, .branch, .gallery, .developers{
        padding: 10px;
        width: 100%;
        transition: all 0.5s ease-out;       
    }
    .cart-bottom, .login-bottom{
        display: inline;
        width: 100%;
        padding: 10px;

    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 20px;
        color: white;
        background-color: rgb(255, 166, 0);
        top: 110px;
        right: 25px;
    }
}