
.divbody{
    padding-top: 145px;
}

#ABOUT{
    height: 525px;
}
.about-1{
   
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: #fff;
}
#about-2{
    z-index: -999;
    padding-top: 40px;
}
#about-2 #a-row{
    display: flex;
    flex-wrap: wrap;
    
}
.row #a-col{
    margin-left: 30px;
    width: 30%;
    height: 300px;
}
.about-item{
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgba(0,0,0.6);
}
.about-item p{
    padding-top: 15px;
}

.about-item i{
    font-size: 43px;
    margin: 0;
}

.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr{
    width: 46px;
    height: 3px;
    background-color: green;
    margin: 0 auto;
    border: none;
    text-align: center;
}

.about-item:hover{
    background-color: green;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}
.about-item:hover hr{
    background-color: #fff;
}

.about-item:hover i{
    transform: translateY(-5px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}
.content-items img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.about-item{
    overflow: hidden;
}